.banner {
  /* background-image: url('/assets/hotel-home.jpeg'); */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
}

/* Landing Section */
.landing-section {
  text-align: center;
}

.landing-section h2 {
  font-size: 48px;
}

.landing-section p {
  font-size: 18px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: solid 2px white;
  width: 30%;
  background: none;
}
