.banner {
  background-size: cover;
  background-position: center;
  color: white;
  height: 80vh;
}

/* Landing Section */
.landing-section {
  text-align: center;
}

.landing-section h2 {
  font-size: 48px;
}

.landing-section p {
  font-size: 18px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: solid 2px white;
  width: 30%;
  background: none;
}


@media screen and (max-width: 1024px) {
  .landing-section h2 {
    font-size: 36px;
  }

  .landing-section p {
    font-size: 16px;
  }

  .search-bar input {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: auto;
  }

  .landing-section h2 {
    font-size: 28px;
  }

  .landing-section p {
    font-size: 14px;
  }

  .search-bar input {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .landing-section h2 {
    font-size: 24px;
  }

  .landing-section p {
    font-size: 12px;
  }

  .search-bar input {
    width: 70%;
    padding: 8px;
    font-size: 14px;
  }
}