.mini-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-bottom: solid 2px black;
}

.mini-navbar-left svg {
    margin-right: 10px;
    cursor: pointer;
}

.mini-navbar-right span {
    margin-right: 20px;
}

.book-now-btn {
    padding: 8px 16px;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .mini-navbar {
        flex-direction: column;
        text-align: center;
    }

    .mini-navbar-left,
    .mini-navbar-right {
        margin-bottom: 10px;
    }

    .mini-navbar-right {
        flex-direction: column;
    }

    .mini-navbar-right span {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .book-now-btn {
        width: 50%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .mini-navbar {
        font-size: 12px;
        padding: 5px;
    }

    .book-now-btn {
        padding: 8px;
    }
}