.payment-success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f343b;
}

.payment-success-container {
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 30%;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.success-icon {
    color: #4caf50;
    font-size: 5rem;
    margin-bottom: 20px;
}

    h2 {
    color: white;
}

.amount {
    color: white;
    margin-bottom: 30px;
}

.payment-receipt {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.payment-receipt h3 {
    color: white;
    margin: 0;
    text-align: center;
}

.receipt-details p {
    color: white;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.profile-button,
.download-button {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover,
.download-button:hover {
    background-color: #555;
}


/* Media Queries */
@media (max-width: 768px) {
    .payment-success-container{
        margin: 5px;
        padding: 10px;
        width: 80%;
    }
    .success-icon {
        font-size: 6rem;
    }

    .payment-receipt {
        padding: 5px;

    }

    .receipt-details {
        font-size: 0.8rem;
    }

    

    .actions {
        flex-direction: column;
        gap: 10px;
    }

    .profile-button,
    .download-button {
        width: 100%;
    }
}
